<div class="hero-img" style="background-image: url(<%= cl_image_path 'home_hero_cbv3fq'%>)" ></div>

<div class="container p-5">
  <h1 class="mb-3">My Lists</h1>
    <div class="lists-container">
      <% @lists.each do |list| %>
        <div class="list-card">

          <% unless list.photo.attached? %>
            <%= cl_image_tag list.photo.key%>
          <% else %>
            <%= cl_image_tag("default_img_q1lqhk") %>
          <% end %>

          <%= link_to list.name, list_path(list.id) %>
        </div>
      <% end %>
  </div>
</div>
